.fade {
	padding-top: 30px;
}

img {
	height: 500px;
	padding-left: 38%;
}

button.slick-next.slick-arrow {
	background: darkgray;
	right: 390px;
	padding-top: 1px;
	border-radius: 10px;

}

button.slick-prev.slick-arrow {
	left: 364px;
	background: darkgray;
	padding-top: 1px;
	border-radius: 10px;
}

@media only screen and (max-width : 1160px)  {

	body {
		padding-left: 0;
		max-width: 376px;
	}

	button.slick-prev.slick-arrow {
		left: 10px;
	}

	button.slick-next.slick-arrow {
		right: 11px;
	}

	img {
		padding-left: 9%;
	}

}